/* Set default font and basic styles for body and lists */
body,
ul,
li {
    font-family: tahoma; 
    box-sizing: border-box; /* Includes padding and border in total element size */
    margin: 0; 
    padding: 0; 
    background-color: rgb(253, 246, 255); 
    background-image: url(clothing-store.jpg); 
}

/* START HEADER */
/* Styles for the header */
header {
    background-color: rgb(209, 194, 76); 
    text-align: center; 
    position: relative; 
    width: 100%; 
}

/* PAGE TITLE */
/* Styles for the page title */
.title {
    color: white; 
    width: 100%; 
    background-color: rgb(168, 142, 72); 
    display: inline-block; 
    padding: 2px 0px; /* Internal spacing */
}

/* Styles for the new item */
.newItem {
    background-color: rgb(225, 222, 199); 
    padding: 30px 40px; 
    color: white; 
    display: flex; 
    justify-content: center; /* Centers the content */
}
.newItem:after {
    content: ""; /* Adds an empty pseudo-element for clearfix */
    display: table; /* Forces a block context */
    clear: both; /* Clears floats */
}

/* ADD BUTTON */
/* Styles for the add button */
.addBtn {
    padding: 9px 10px; 
    color: white; 
    text-align: center; 
    font-size: 16px; 
    cursor: pointer; /* Changes cursor on hover */
    transition: 0.3s; /* Smooth animation on hover */
    border-radius: 2px; /* Rounded corners */
}
.addBtn:hover {
    background-color: #dbcd9d; 
    color: white; 
}

/* Styles for the item list */
.items {
    margin: 0; 
    padding: 0; 
    display: flex; 
    justify-content: center; 
}

/* EDIT BUTTON */
/* Styles for the edit button */
.edit {
    background-color: #333232; 
    border: none; 
    color: white; 
    padding: 5px 15px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 5px; 
}
.edit:hover {
    opacity: 0.8; /* Reduces opacity on hover */
}

/* DELETE BUTTON */
/* Styles for the delete button */
.close {
    background-color: #333232; 
    border: none; 
    color: white; 
    padding: 5px 15px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
.close:hover {
    opacity: 0.8; 
}

/* ITEMS TABLE */
/* Styles for the items table */
table,
th,
td {
    border-collapse: collapse; /* Removes spacing between borders */
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 20px;
    font-size: 18px;
    transition: 0.2s;
    vertical-align: center;
}

/* Table size */
table {
    background-color: white; 
    width: 70%;
}

/* Zebra-striped table */
tr:nth-child(odd) {
    background-color: #eee;
}

/* Size of the first column */
th:nth-child(1) {
    width: 70%;
}

/* Header color */
th {
    background-color: #9e8b61;
    color: white; 
}

/* Highlight rows on mouse over */
tr:hover {
    background: rgb(200, 199, 199);
}

/* Styles for images */
img {
    max-width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* MODAL */
/* Styles for the item modal */
.itemModal {
    display: none;
    position: fixed; /* Fixed on screen */
    z-index: 1; /* Above other elements */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0); 
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
    padding-top: 60px; /* Top padding */
}

/* Modal content for creating items */
.modal-content-create-item {
    background-color: #fefefe; 
    margin: 5% auto; /* Automatic margins for centering */
    padding: 20px; 
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}

/* Styles for modal title */
.modal-content-create-item h2 {
    text-align: center;
    color: #333;
}

/* Styles for form groups */
.form-group {
    margin-bottom: 15px;
}

/* Styles for select groups */
.form-group-select {
    display: flex;
}

/* Width of select group content */
.form-group-select-content {
    width: 100%;
}

/* Styles for form labels */
.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

/* Styles for form fields */
.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Styles for form buttons */
.form-buttons {
    text-align: center;
    display: flex;
    justify-content: space-between; /* Space between buttons */
}

/* Styles for form buttons */
.form-buttons button {
    padding: 10px 20px; 
    margin: 5px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

/* Button color - Gradient */
.form-buttons button[type="button"] {
    background-color: #333232; 
    color: white; 
}

/* Styles on hover for form buttons */
.form-buttons button:hover {
    opacity: 0.8; 
}

/* BUTTON ADD ITEM */
/* Styles for menu content button */
.menuContentBtn {
    display: flex; 
    justify-content: center; 
}
.menuContentBtn button {
    margin: 2rem; 
}

/* Styles for menu button */
.btnMenu {
    background-color: white; 
    color: #333; 
    border: 2px solid #ddd; 
    padding: 10px 20px; 
    font-size: 16px; 
    font-weight: bold; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: all 0.3s ease; /* Smooth transition for all properties */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow */
}

/* Styles on hover for menu button */
.btnMenu:hover {
    background-color: #f8f8f8; 
    border-color: #ccc; 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); 
}

/* Styles on active for menu button */
.btnMenu:active {
    background-color: #eee; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transform: translateY(2px); /* Movement effect on click */
}
